<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="selfId" value="1366869256" />
    <add key="eventAddress" value="127.0.0.1" />
    <add key="eventPort" value="6701" />
  </appSettings>
</configuration>