<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="selfId" value="1366869256" />
    <add key="adminId" value="252961222" />
    <add key="gocq" value="D:\Code\gocq\" />
    <add key="gocqexe" value="go-cqhttp_windows_amd64.exe" />
    <add key="api" value="ws://127.0.0.1:6700/" />
    <add key="event" value="ws://127.0.0.1:6701/" />
  </appSettings>
</configuration>