<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="selfId" value="205552607" />
    <add key="adminId" value="252961222" />
    <add key="bark" value="" />
    <add key="barkexe" value="bark-server_windows_amd64.exe" />
    <add key="barkkey" value="" />
    <add key="serverAddress" value="127.0.0.1" />
    <add key="serverPort" value="6700" />
    <add key="saucenaokey" value="d5babdefba63d17ddba3cd5b583f257f8e16f215" />
    <add key="has_hk" value="https://justmysocks5.net/members/getbwcounter.php?service=860862&amp;id=172ba551-0dc8-493f-88ef-e9e0b3baf695" />
    <add key="has_los" value="https://api.64clouds.com/v1/getServiceInfo?veid=1839281&amp;api_key=private_MS58yHUbRLhQqp0VMFa7lD0Z" />
  </appSettings>
</configuration>