<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="selfId" value="205552607" />
    <add key="adminId" value="252961222" />
    <add key="bark" value="" />
    <add key="barkexe" value="bark-server_windows_amd64.exe" />
    <add key="barkkey" value="" />
    <add key="barkurl" value="" />
    <add key="serverAddress" value="127.0.0.1" />
    <add key="serverPort" value="6700" />
    <add key="saucenaokey" value="d5babdefba63d17ddba3cd5b583f257f8e16f215" />
  </appSettings>
</configuration>